*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.heroSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Protest Riot;
    height: 80vh;
}

.postcard1{
    background-image: url(./images/proposeBG.png);
    border-radius: 20px;
    padding: 25px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 60%;
    height: 100%;
    z-index: 5;
    transform: rotate(3deg);
    box-shadow: 2px 2px 10px black;    
}

.postcard2{
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 60%;
    height: 70%;
    box-shadow: 2px 2px 10px black;    
    transform: rotateY(12deg);
    z-index: 4;
    background-image: url(./images/proposeBG.png);
}

.postcard3{
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 60%;
    height: 70%;
    box-shadow: 2px 2px 10px black;    
    transform: rotate(6deg);
    z-index: 3;
    background-image: url(./images/proposeBG.png);
}

.postcard4{
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 60%;
    height: 70%;
    transform: rotateY(12deg);
    box-shadow: 2px 2px 10px black;    
    z-index: 2;
    background-image: url(./images/proposeBG.png);
}

.postcard5{
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px;
    width: 60%;
    height: 70%;
    box-shadow: 2px 2px 10px black;    
    transform: rotateY(6deg);
    z-index: 1;
    background-image: url(./images/proposeBG.png);
}

.crying{
    position: absolute;
    width: 60%;
    height: 70%;
    transform: rotateY(6deg);
}

.happy{
    position: absolute;
    width: 60%;
    height: 70%;
    transform: rotateY(6deg);
}

.gif2{
    width: 50%;
    height: 80%;
}

.line{
    margin-bottom: 20px;
    width: 70%;
}

.buttonSection{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

button{
    padding: 5px;
    width: 15%;
    font-family: outfit;
    background-color: red;
    color: white;
    border: none;
    border-radius: 3px;
}

@media(max-width:600px){
    .postcard1, .postcard2, .postcard3, .postcard4, .postcard5{
        width: 80%;
        height: 80%;
    }

    .crying, .happy{
        width: fit-content;
    }

    .gif2{
        width: 70%;
        height: 50%;
        object-fit: cover;
    }
}